<div
  style="
    width: 1920px;
    height: 1080px;
    background-color: white;
    border: solid 5px black;
  "
>
  <br />
  <div class="container" transition-style="in:square:hesitate">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h2 class="display-4" style="font-weight: 800">PABELLÓN DE PANAMÁ</h2>
       
      </div>
    </div>
    <swiper-container
      class="mySwiper"
      pagination="true"
      pagination-type="progressbar"
      navigation="true"
    >
      <swiper-slide
        ><img
          src="https://fastly.picsum.photos/id/1/5000/3333.jpg?hmac=Asv2DU3rA_5D1xSe22xZK47WEAN0wjWeFOhzd13ujW4"
      /></swiper-slide>
      <swiper-slide
        ><img
          src="https://fastly.picsum.photos/id/12/2500/1667.jpg?hmac=Pe3284luVre9ZqNzv1jMFpLihFI6lwq7TPgMSsNXw2w"
      /></swiper-slide>
      <swiper-slide
        ><img
          src="https://fastly.picsum.photos/id/10/2500/1667.jpg?hmac=J04WWC_ebchx3WwzbM-Z4_KC_LeLBWr5LZMaAkWkF68"
      /></swiper-slide>
      <swiper-slide
        ><img
          src="https://fastly.picsum.photos/id/1/5000/3333.jpg?hmac=Asv2DU3rA_5D1xSe22xZK47WEAN0wjWeFOhzd13ujW4"
      /></swiper-slide>
    </swiper-container>
  </div>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-6" transition-style="in:square:hesitate" style="display: flex;
      justify-content: center; /* Centrado horizontal */
      align-items: center;">
        
        <p class="lead" style="word-spacing: 5px; font-size: 18px">
          <b style="font-weight: 700"><i class="fa-solid fa-scale-balanced"></i> Comisionado:</b> Itzela Quirós <br><br>
          <b style="font-weight: 700"> <i class="fa-solid fa-broom"></i> Curadores:</b> Ana Elizabeth Gonzalez,
          Monica Kupfer <br><br> <b style="font-weight: 700"><i class="fa-solid fa-palette"></i> Artistas:</b> Brooke
          Alfaro, Isabel De Obaldía, Cisco Merel, Giana De Dier <br><br>
          <b style="font-weight: 700"><i class="fa-solid fa-location-dot"></i> Lugar:</b> Spazio Castello 2131
        </p>
      
      </div>
      <div class="col-6" transition-style="in:wipe:up">
        <p style="font-size: 17px;font-weight: 800;">DESCRIPCIÓN</p>
        <p style="font-size: 16px; font-style: italic; text-align: justify">
          El <b>Pabellón de Panamá </b>profundiza en el impacto perdurable de la
          migración en las personas y su entorno a través de obras de cuatro
          artistas. Panamá, puente transcontinental, ha sido un centro de
          tránsito, comercio e intercambio cultural desde la prehistoria hasta
          la actualidad. Recientemente, ha acaparado la atención debido al
          peligroso viaje a través del <b>«Tapón del Darién»</b>, una selva de 26.000
          km2 que conecta Colombia y Panamá -atravesada por más de 500.000
          migrantes y solicitantes de asilo sólo en 2023-, un viaje angustioso
          sin infraestructuras ni servicios, y sin seguridad frente a abusos,
          peligros o violencia. Los artistas revelan realidades ignoradas (a
          menudo casi invisibles), desde la exploración de <b>Giana De Dier</b>  de la
          migración afroantillana a principios del siglo XX hasta las
          representaciones de <b>Brooke Alfaro</b> de seres humanos en viajes hostiles.
         <b> Isabel De Obaldía</b> sumerge al espectador en una instalación de dibujos
          y esculturas de vidrio, mientras que <b>Cisco Merel</b> reflexiona sobre la
          esquiva promesa de un futuro mejor a través del barro y el acero. Las
          obras de arte sirven como poderosos testimonios de las penurias
          soportadas en pos de una vida mejor. Este pabellón relaciona el arte
          con la actual crisis migratoria, incitando a la empatía con quienes se
          ven obligados a labrarse sus propios arduos viajes, de esos que dejan
          huellas indelebles en la tierra y en el cuerpo. 
        </p>
      </div>

      <button
        class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg"
        style="
          border-radius: 50px;
          width: 100px;
          height: 100px;
          font-size: 40px;
          font-weight: 700;
          position: absolute;
          left: 100px;
          top: 950px;
          z-index: 1;
          background-color: black;
          color: white;
        "
        routerLink="/mapa"
      >
        <i class="fa-solid fa-circle-chevron-left"></i>
      </button>

      <button
        class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg"
        style="
          border-radius: 50px;
          width: 100px;
          height: 100px;
          font-size: 40px;
          font-weight: 700;
          position: absolute;
          right: 100px;
          top: 950px;
          z-index: 1;
          background-color: black;
          color: white;
        "
        routerLink="/"
      >
        <i class="fa-solid fa-home"></i>
      </button>
    </div>
  </div>
</div>
