#map {
    height: 1080px;
    
  }

  .imagen1{
   
    height: 80px;
    width: 150px;
    
  }

  .leaflet-default-icon-path {
    background-image: url('/icons/shadow.png');
}

.rojo {
  filter: brightness(0) saturate(100%) invert(61%) sepia(41%) saturate(4513%) hue-rotate(324deg) brightness(100%) contrast(101%);
}

.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3px;
}
  
.div1 {
  grid-column: span 7 / span 7;
  grid-row: span 2 / span 2;
}



@font-face {
  font-family: 'Helvetica';
  src: url('../../../assets/fonts/Helvetica/HelveticaNeueLight.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica2';
  src: url('../../../assets/fonts/Helvetica/HelveticaNeueHeavy.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica3';
  src: url('../../../assets/fonts/Helvetica/HelveticaNeueMedium.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.paises{
  font-family: 'Helvetica';
}

.titulo{
  font-family: 'Helvetica2';
}

.subtitulo{
  font-family: 'Helvetica3';
}