
<button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg" style="
          border-radius: 50px;
          width: 100px;
          height: 100px;
          font-size: 40px;
          font-weight: 700;
          right: 70px;
          top: 940px;
          background-color: black;
          color: white;
          position: fixed;
          z-index: 100;
        " routerLink="/"
        >
  <i class="fa-solid fa-home"></i>
</button>


<swiper-container style="
    --swiper-navigation-color: white;
    --swiper-pagination-color: white;
    --swiper-navigation-size: 60px;
    --swiper-pagination-bullet-size: 40px;
    --swiper-pagination-bullet-opacity: 5; /* Ajusta la opacidad (0 = transparente, 1 = sólido) */

    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-inactive-color: #ff5a5a;
    --background-color: red;
  " class="mySwiper" speed="600" parallax="true" pagination="true" pagination-clickable="true" navigation="true">
  
  <div slot="container-start" class="parallax-bg" style="
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(images/buccaners.png);
      filter: brightness(50%);
    " data-swiper-parallax="-23%">
    </div>
  <swiper-slide>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div data-swiper-parallax="-100">
      <div style="width: 1200px; display: grid; place-items: center; margin: auto">
        <p class="otrotxt" style="text-align: center; font-size: 35px">
          Desliza tu dedo sobre la pantalla para explorar los diferentes temas en los que podrías profundizar y pulsa sobre
          el que más te interese. 
          
        </p>
        
      </div>
      <!-- <div>
        <p style="text-align: center">
          <button
            type="button"
            class="btn btn-success titulo"
            style="
              width: 400px;
              font-size: 40px;
              font-weight: 700;
              border: 1px solid transparent;
              font-weight: 700;
              border-radius: 2em;
              box-shadow: 0 0 10px 5px black;
              background-color: black;
              width: 250px;
              height: 70px;
            "
            routerLink=""
          >
            ESP
          </button>
          &nbsp;
          <button
            type="button"
            class="btn btn-success titulo"
            style="
              width: 400px;
              font-size: 40px;
              font-weight: 700;
              border: 1px solid transparent;
              font-weight: 700;
              border-radius: 2em;
              box-shadow: 0 0 10px 5px black;
              background-color: #ff5a5a;
              width: 250px;
              height: 70px;
            "
            routerLink="/inicio_eng"
          >
            ENG 
          </button>
        </p>
      </div> -->
    </div>
  </swiper-slide>


  <swiper-slide>
    <div class="title" data-swiper-parallax="-300" style="font-weight: 800">
      <br> Equipo Curatorial
    </div>
    <div class="text" data-swiper-parallax="-100" id="texto video">
      <p style="text-align: justify; font-size: 20px"><br><br>
        Para el primer pabellón de Panamá en la Bienal de Arte de Venecia las
        curadoras del proyecto enfocaron su investigación en el fenómeno
        migratorio que experimenta nuestro continente con énfasis en Panamá, por
        donde miles de personas transitaban diariamente a través de la selva
        darienita. Mira este video en el que ambas comentan el origen de su
        propuesta curatorial y reflexionan sobre la importancia de que este
        mensaje llegara al evento de arte más importante del mundo. 
      </p>
      <img src="images/AnaPlay.png" style="
          height: 370px;
          width: 650px;
          position: absolute;
          top: -56px;
          left: 950px;
          border-radius: 5px;
        "  data-bs-toggle="modal" data-bs-target="#exampleModal" />

      <br><br><br><br><br><br><br><br><br><br><br>
      <div class="title" data-swiper-parallax="-300" style="font-weight: 800">
        <br> 
      </div>
      <div class="text" data-swiper-parallax="-100" id="texto video">
        <p style="text-align: justify; font-size: 20px">
          <br>  Comunicar adecuadamente es, en el sentido más amplio, un trabajo que requiere profundo sentido de la 
observación y la escucha; y para transmitir a cada persona el proyecto que hizo posible el Pabellón de Panamá 
fue necesario un equipo que estuviera comprometido con esa premisa. En este video, Luz Bonadies, directora de 
proyecto y medios junto a Mariana Núñez, directora gráfica del pabellón, comparten algunos elementos clave de 
su participación en el pabellón de Panamá. 
        </p>
    
      </div>

      <img src="images/CiudadPlay.png" style="
            height: 350px;
            width: 650px;
            position: absolute;
            top:456px;
            left: 950px;
            border-radius: 5px;
          " data-bs-toggle="modal"
  data-bs-target="#exampleModal2"
          />


      <!-- <div *ngIf="showVideo" class="video-container">
        <button (click)="closeVideo()"  class="btn close-button">Cerrar</button>

        <video #videoPlayer class="video">
          <source src="{{dataVideo}}" type="video/mp4" />
          Tu navegador no soporta el video.

        </video>
        

      </div> -->

      <!-- <button
        type="button"
        class="btn btn-success titulo"
        style="
          width: 400px;
          font-size: 40px;
          font-weight: 700;
          border: 1px solid transparent;
          font-weight: 700;
          border-radius: 2em;
          box-shadow: 0 0 10px 5px black;
          background-color: #ff5a5a;
        "
        routerLink="./mapa"
      >
        Ver en el mapa <i class="fa-regular fa-map"></i>
      </button> -->
    </div>
  </swiper-slide>

  <!-- La Bienal de Arte de Venecia -->
  <swiper-slide>
    <div class="title" data-swiper-parallax="-300" style="font-weight: 800" id="bienal">
      <br /><br /><br />La bienal de Arte de Venecia​
    </div>

    <div class="text" data-swiper-parallax="-100">
      <p style="text-align: justify; font-size: 20px;">
        Desde su inauguración en 1895, la Bienal de Arte de Venecia se ha
        establecido como una de las exposiciones de arte contemporáneo más
        prestigiosas y antiguas del mundo. Este evento bianual reúne a artistas,
        curadores y críticos de todos los rincones del globo para presentar y
        discutir las tendencias más innovadoras y significativas del arte
        contemporáneo.
        <br><br>
        A través de su historia, la bienal ha sido un reflejo y
        una plataforma de las diversas corrientes culturales, políticas y
        sociales que han moldeado nuestro mundo, proporcionando un espacio de
        diálogo y confrontación de ideas, transformando Venecia en un epicentro
        cultural y artístico global.
        <br><br>
        Cada dos años, la Bienal de Venecia nombra
        a un(a) curador(a), o a un comité curatorial, para definir el concepto y
        dirección general de esta gran celebración cultural. Es su
        responsabilidad crear lo que es conocido como la “Exposición
        Internacional”, a la que se invitan artistas de todas partes del mundo a
        una muestra que marca el eje principal del evento.

      </p>
      <div class=" card-body" style="background-color: transparent">
        <p class="text" style="text-align: justify; font-size: 20px">
          En la mayoría de los casos, se trata de artistas contemporáneos,
          activos, pero, en otros, según la misión del curador(a), se han
          mostrado obras de figuras fallecidas o casi desconocidas, pero que
          contribuyen a una más completa visión histórica del arte. Aunque
          la exposición internacional la muestra principal de la Bienal de
          Venecia se basa en el concepto central definido por sus curadores
          invitados, cabe destacar que los países que participan en la Bienal
          con sus pabellones nacionales no necesariamente tienen que seguir
          esa línea conceptual. Esta 60 Bienal contó con la participación de
          unos 87 países de todos los continentes, cada uno de los cuales
          envió una exposición coordinada localmente, en base al trabajo de
          curadores u organizadores escogidos por los países de origen,
          siempre con el aval de sus gobiernos nacionales​.
        </p>
      </div>
      <!-- <p class="d-inline-flex gap-1 titulo">
        <br>
        <a
          class="btn"
          data-bs-toggle="collapse"
          href="#collapseExample"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
          style="
            background-color: #ff5a5a;
            color: white;
            font-size: 30px;
            font-weight: 700;
            border: 1px solid transparent;
            font-weight: 700;
            border-radius: 2em;
            box-shadow: 0 0 10px 5px black;
            background-color: #ff5a5a;
            width: 250px;
            height: 63px;
            position: absolute;
            left: 165px;
          "
        >
          Leer más
        </a>
      </p> -->

      <div class="collapse" id="collapseExample" style="position: absolute; left: 900px; width: 800px;
        top: 435px;">
        <!-- <div class=" card-body" style="background-color: transparent">
          <p class="text" style="text-align: justify; font-size: 20px">
            En la mayoría de los casos, se trata de artistas contemporáneos,
            activos, pero, en otros, según la misión del curador(a), se han
            mostrado obras de figuras fallecidas o casi desconocidas, pero que
            contribuyen a una más completa visión histórica del arte. Aunque
            la exposición internacional la muestra principal de la Bienal de
            Venecia se basa en el concepto central definido por sus curadores
            invitados, cabe destacar que los países que participan en la Bienal
            con sus pabellones nacionales no necesariamente tienen que seguir
            esa línea conceptual. Esta 60 Bienal contó con la participación de
            unos 87 países de todos los continentes, cada uno de los cuales
            envió una exposición coordinada localmente, en base al trabajo de
            curadores u organizadores escogidos por los países de origen,
            siempre con el aval de sus gobiernos nacionales​
          </p>
        </div> -->
      </div>
      <br />
      <img src="images/picture/02.jpg" style="
          height: 570px;
          width: 900px;
          position: absolute;
          top: -53px;
          left: 850px;
          border-radius: 2%;
        " />
      <!-- <button
      type="button"
      class="btn btn-success titulo"
      style="
        width: 400px;
        font-size: 40px;
        font-weight: 700;
        border: 1px solid transparent;
        font-weight: 700;
        border-radius: 2em;
        box-shadow: 0 0 10px 5px black;
        background-color: #ff5a5a;
      "
      routerLink="./mapa"
    >
      Ver en el mapa <i class="fa-regular fa-map"></i>
    </button> -->
    </div>
  </swiper-slide>
  <!-- La Bienal de Arte de Venecia -->

  <!-- Extranjeros en todas partes -->

  <swiper-slide>
    <div class="title" data-swiper-parallax="-300" style="font-weight: 700;">
      <br /><br /><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Extranjeros por todas partes
    </div>

    <div class="text" data-swiper-parallax="-100">
      <p style="text-align: justify; font-size: 20px; position:absolute; left: 150px;">
        Para la 60ª Bienal de Arte de Venecia, celebrada en 2024, el curador
        brasileño Adriano Pedrosa escogió el título de <b>"Stranieri Ovunque-
        Extranjeros en todas partes".</b><br><br>
        Esta edición explora las dinámicas de la
        migración, la identidad y el sentimiento de no pertenencia en un mundo
        globalizado.<br>
        El título deriva de una serie de piezas de neón iniciadas
        en 2004 por el colectivo Claire Fontaine, que luchó en Turín contra el
        racismo y la xenofobia y que ahora conforma el lema de la muestra
        veneciana donde Pedrosa invita a los espectadores a reflexionar sobre el
        concepto de "extranjero", no solo en términos geográficos, sino también
        en lo que respecta a lo cultural, lo social y lo personal.​ ​ La 60ª
        Bienal de Arte de Venecia navega las complejidades de la identidad y la
        alteridad en nuestro tiempo, ilustrando como la noción de pertenencia se
        diluye cuando nos damos cuenta de que todos somos, en algún lugar y en
        algún momento, extranjeros.
      </p>
      <!-- <button
        type="button"
        class="btn btn-success titulo"
        style="
          width: 400px;
          font-size: 40px;
          font-weight: 700;
          border: 1px solid transparent;
          font-weight: 700;
          border-radius: 2em;
          box-shadow: 0 0 10px 5px black;
          background-color: #ff5a5a;
        "
        routerLink="/ong"
      >
        Conocer más <i class="fa-solid fa-shoe-prints"></i>
      </button> -->
    </div>

    <div class="parent">
      <div class="div1">
        <img src="images/picture/04.jpg"
          style="height: 600px; width: 500px; position: absolute; top: 86px; border-radius: 2%;left: 150px;" />
      </div>
    </div>

    <!-- <div class="parent">
      <div class="div1">
        <img
          src="images/pasan/001.png"
          style="height: 250px; width: 250px"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        />
      </div>
      <div class="div1">
        <img
          src="images/pasan/002.png"
          style="height: 250px; width: 250px"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal2"
        />
      </div>
      <div class="div1">
        <img
          src="images/pasan/003.png"
          style="height: 250px; width: 250px"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal3"
        />
      </div>

      <div class="div1">
        <img
          src="images/pasan/004.png"
          style="height: 250px; width: 250px"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal4"
        />
      </div>
      <div class="div1">
        <img
          src="images/pasan/005.png"
          style="height: 250px; width: 250px"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal5"
        />
      </div>
      <div class="div1">
        <img
          src="images/pasan/006.png"
          style="height: 250px; width: 250px"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal6"
        />
      </div>

      <div class="div1">
        <img
          src="images/pasan/007.png"
          style="height: 250px; width: 250px"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal7"
        />
      </div>
      <div class="div1">
        <img
          src="images/pasan/008.png"
          style="height: 250px; width: 250px"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal8"
        />
      </div>
      <div class="div1">
        <img
          src="images/pasan/009.png"
          style="height: 250px; width: 250px"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal9"
        />
      </div>
    </div> -->
  </swiper-slide>

  <swiper-slide>
    <div class="title" data-swiper-parallax="-300" style="font-weight: 800;">
      <p style="font-size: 35px" id="pabellon">
        Panamá: por primera vez en la <br />
        Bienal de Arte de Venecia
      </p>
    </div>

    <div class="text" data-swiper-parallax="-100">
      <p style="text-align: justify; font-size: 20px; font-weight: 400">
        La participación de Panamá en la 60ª edición de la Bienal de Arte de
        Venecia representa un hito significativo en la historia cultural del
        país.
        <br>
        Motivada por el deseo de insertar la voz panameña en el diálogo
        global sobre el arte y la identidad, esta participación tiene como
        objetivo celebrar la riqueza cultural de Panamá a través de cuatro de
        sus principales artistas contemporáneos Brooke Alfaro, Isabel De
        Obaldia, Giana De Dier y Cisco Merel. <br> <br>Bajo el título de “Surcos: En
        el cuerpo y en la tierra”, la exposición del pabellón panameño se enfoca
        en el tema migratorio. Panamá, desde que existe como istmo, ha sido
        moldeado por la llegada y paso de personas, y nuestro pabellón resuena
        como un eco de las huellas perdurables que la migración deja en las
        personas y en su entorno. <br><br>
        Este asunto, de gran pertinencia actualmente,
        tanto en nuestro país como internacionalmente, coincidió de manera
        profunda con la temática central de la Bienal de Venecia. ​ ​ Esta
        participación no solo buscó integrar a nuestro país al discurso global,
        sino también establecer las bases para futuras participaciones
        nacionales, consolidando a Panamá como un actor valioso en el diálogo
        artístico mundial. ​<br /><br />
        <i style="font-size: 20px">Puedes presionar las imagenes para ver su biografía.
        </i>
      </p>
      <!-- <button
        type="button"
        class="btn btn-success"
        style="
          width: 400px;
          font-size: 30px;
          font-weight: 700;
          border: 1px solid transparent;
          font-weight: 700;
          border-radius: 2em;
          box-shadow: 0 0 10px 5px black;
          background-color: #ff5a5a;
        "
        routerLink="./mapa"
      >
        Conoce a los artistas <i class="fa-solid fa-book-open"></i>
      </button> -->
    </div>

    <div class="parent2">
      <div class="div1">
        <img src="images/Artista1.jpg" (click)="brooke()" style="height: 350px; width: 350px; border-radius: 3%;" />
      </div>
      <div class="div1">
        <img src="images/Artista3.jpg" (click)="Cisco()" style="height: 350px; width: 350px;  border-radius: 3%;" />
      </div>
      <div class="div1">
        <img src="images/Artista2.jpg" (click)="Giana()" style="height: 350px; width: 350px;  border-radius: 3%;" />
      </div>
      <div class="div1">
        <img src="images/Artista5.jpg" (click)="Isabel()" style="height: 350px; width: 350px;  border-radius: 3%;" />
      </div>
    </div>
  </swiper-slide>
  <!-- Panama por primera vez en la bienal -->

  <!-- Otros Pabellones -->
  <!-- <swiper-slide>
    <div class="title" data-swiper-parallax="-300" style="font-weight: 800">
      <br /><br /><br /><br /><br /><br /><br />Explora aquí los otros
      Pabellones Nacionales​
    </div>

    <div class="text" data-swiper-parallax="-100">
      <p style="text-align: justify; font-size: 20px">
        Explora este mapa interactivo en donde encontrarás los 88 pabellones
        nacionales que participaron en la 60ª Bienal de Arte, ubicados en el
        Arsenale, el Giardini y otras locaciones en las distintas islas que
        conforman la ciudad de Venecia.
      </p>
      <button
        type="button"
        class="btn btn-success titulo"
        style="
          width: 400px;
          font-size: 30px;
          font-weight: 700;
          border: 1px solid transparent;
          font-weight: 700;
          border-radius: 2em;
          box-shadow: 0 0 10px 5px black;
          background-color: #ff5a5a;
        "
        routerLink="./mapa"
      >
        Ver el mapa
      </button>
    </div>
  </swiper-slide> -->
  <!-- Otros Pabellones -->

  <!-- Otros artistas Panameños -->
  <swiper-slide>
    <div class="title" data-swiper-parallax="-300" style="font-weight: 800">
      <br /><br />Otros artistas panameños que participaron<br />
      en la Bienal de Arte de Venecia​
    </div>

    <div class="text" data-swiper-parallax="-100">
      <p style="text-align: justify; font-size: 20px">
        La 60ª Bienal de Arte contó con la participación de siete artistas panameños. Además de los cuatro artistas que
        representaron al país en el Pabellón de Panamá, una obra colaborativa del panameño Antonio José Guzmán y la
        artista Iva Jankovic (que reside en Ámsterdam), formó parte de la curaduría de Adriano Pedrosa para la
        exposición principal de la Bienal. Además, los panameños Oswaldo «Achu» De León Kantule y Humberto Vélez
        participaron como invitados en el Pabellón de Bolivia que fue instalado en el edificio del Pabellón de Rusia
      </p>
      <p style="font-size: 20px">
        <b style="font-weight: 800"> Exposición principal, Arsenale.</b><br />
        Antonio José Guzmán (con Iva Jankovick)<br />Proyecto: Orbital
        Mechanics, from the Electric Dub Station series. 2024 Instalación de
        textiles , audio y performance
        <br><br>
        <button type="button" class="btn titulo" style="
            background-color: #ff5a5a;
            color: white;
            font-size: 30px;
            font-weight: 700;
            border: 1px solid transparent;
            font-weight: 700;
            border-radius: 2em;
            box-shadow: 0 0 5px 5px black;
            background-color: #ff5a5a;
            width: 340px;
          "
          onclick="activar('https://www.labiennale.org/en/art/2024/nucleo-contemporaneo/antonio-jose-guzman-iva-jankovic',1075,1000)">
          Ver el proyecto</button>​ <br /><br />
        <b style="font-weight: 800">
          Pabellón de Bolivia, Giardini (al interior del Pabellón de Rusia)</b><br />​Oswaldo “Achu” De León
        Kantule<br />Proyectos: La fuga de niños
        rojos y Tiempo de transformaciones Pintura en acrílico sobre tela y
        díptico en técnica mixta sobre madera respectivamente.​ <br /><br /><b style="font-weight: 800">Humberto
          Vélez</b>​<br />​Proyecto: The Last Builder y El mago, filmes en blanco y negro
        en super 8. <br><br> ​<button type="button" style="
            background-color: #ff5a5a;
            color: white;
            font-size: 30px;
            font-weight: 700;
            border: 1px solid transparent;
            font-weight: 700;
            border-radius: 2em;
            box-shadow: 0 0 10px 5px black;
            background-color: #ff5a5a;
            width: 400px;
            width: 340px;
          " class="btn titulo" onclick="activar('https://www.labiennale.org/en/art/2024/bolivia-plurinational-state',1075,1000)">
          Ver el pabellón
        </button>
      </p>
    </div>
  </swiper-slide>
  <!-- Otros Artistas Panameños -->

  <!-- Migración por el Darién -->

  <!-- <swiper-slide>
    <div class="title" data-swiper-parallax="-300" style="font-weight: 800">
      <br /><br /><br /><br />Migración en el Darién:
    </div>
    <div class="subtitle" data-swiper-parallax="-200" style="font-weight: 700">
      datos y respuestas humanitarias
    </div>
    <br />
    <div class="text" data-swiper-parallax="-100">
      <p style="text-align: justify; font-size: 20px">
        El cruce del Darién es una de las rutas migratorias más peligrosas del
        mundo. En 2023, más de 520,000 personas emprendieron esta travesía,
        incluyendo más de 113,000 niños y niñas. La falta de infraestructura, la
        exposición a la violencia y la precariedad extrema hacen de este un
        recorrido de alto riesgo.​ Organizaciones como UNICEF, ACNUR y otras
        agencias humanitarias trabajan en la región para brindar asistencia
        vital: acceso a agua potable, atención médica, apoyo psicosocial y
        protección para las poblaciones más vulnerables, especialmente mujeres,
        niños y adolescentes.​ A través de la recopilación de datos y la
        implementación de programas en la región, estas organizaciones buscan no
        solo responder a la crisis inmediata, sino también generar conciencia
        sobre los factores que impulsan la migración y las necesidades urgentes
        de quienes transitan por el Darién.<br />
        <i>Conoce más sobre su trabajo y cómo puedes apoyar.</i>
      </p>
      <br>
      <button type="button" class="btn btn-success titulo" style="
          width: 250px;
          font-size: 30px;
          font-weight: 300;
          border: 1px solid transparent;
          border-radius: 2em;
          box-shadow: 0 0 10px 5px black;
          background-color: #ff5a5a;
          position: absolute;
          left: 169px;
        " routerLink="/ong">
        Ver más
      </button>
    </div>
  </swiper-slide> -->
  <!-- Migración por el Darién -->
  <!-- Catalogo -->
  <swiper-slide>
    <div class="title" id="catalogoID" data-swiper-parallax="-300"
      style="font-weight: 800; font-family: Arial, Helvetica, sans-serif;">
      <br> Cátalogo
    </div>

    <div class="text" data-swiper-parallax="-100">
      <p style="text-align: justify; font-size: 20px; font-weight: 400">
        El catálogo de una exposición de arte es un documento de gran importancia que pone en valor el pensamiento
        crítico, la investigación y las estrategias de reflexión y comunicación que se desarrollan alrededor de un proyecto
        curatorial.<br><br> En esta sección podrás revisar el catálogo del Pabellón de Panamá en la 60ª Bienal de Arte de
        Venecia. La publicación física está disponible en la boletería del museo. 
      </p>
      <br>
      <button type="button" class="btn btn-success titulo" style="
          width: 250px;
          font-size: 25px;
          font-weight: 700;
          border: 1px solid transparent;
          font-weight: 300;
          border-radius: 2em;
          box-shadow: 0 0 10px 5px black;
          background-color: #ff5a5a;
          position: absolute;
          right: 243px;

        " data-bs-toggle="modal" data-bs-target="#exampleModal10">
        Ver el Cátalogo
      </button>

      <p style="position: absolute; left: 107%; top: -30%">
        <!-- <iframe
          height="600"
          width="1020"
          src="books/bienalcatalogo/index.html"
        ></iframe> -->
        <img src="images/picture/Portada.jpg" width="600px" height="800px"
          style="position: absolute; left: 230px; border-radius: 2%;" />
      </p>
    </div>
  </swiper-slide>

  <!-- Catalogo -->


  <!-- Visitas -->
  <swiper-slide>
    <div class="title" id="catalogoID" data-swiper-parallax="-300"
      style="font-weight: 800; font-family: Arial, Helvetica, sans-serif;">
      <br>Libro de Visitas
    </div>

    <div class="text" data-swiper-parallax="-100">
      <p style="text-align: justify; font-size: 20px; font-weight: 400">
        Consulta aquí el libro de visitas del Pabellón de Panamá. 

      </p>
      <br>
      <button type="button" class="btn btn-success titulo" style="
          width: 250px;
          font-size: 25px;
          font-weight: 700;
          border: 1px solid transparent;
          font-weight: 300;
          border-radius: 2em;
          box-shadow: 0 0 10px 5px black;
          background-color: #ff5a5a;
          position: absolute;
          right: 350px;

        " data-bs-toggle="modal" data-bs-target="#exampleModal11">
        Ver libro
      </button>

      <p style="position: absolute; left: 107%; top: -30%">
        <!-- <iframe
          height="600"
          width="1020"
          src="books/bienalcatalogo/index.html"
        ></iframe> -->
        <img src="images/picture/PortadaVisitas.jpg" width="600px" height="800px"
          style="position: absolute;top:-50px;left: 230px; border-radius: 2%;" />
      </p>
    </div>
  </swiper-slide>

  <!--  -->
</swiper-container>

<!-- Primer Modal -->




<!-- Noveno Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  style="background-color: black;"
  
>
  <div class="modal-dialog modal-fullscreen-sm-down">
    <div class="modal-content" style="background: none; border: none">
      <div class="modal-header" style="text-align: center; border-bottom: none">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
         
          aria-label="Close"
          (click)="onVideoEnded()"
         style="color: red; font-size: 40px; background-color: white;position: absolute;right: -650px;"
        
        ></button>
      </div>
      <div class="modal-body" style="text-align: center">
        <video style="position: absolute; left: -700px;"
          #videoPlayer
          width="1920px"
          height="900px"
          (timeupdate)="updateProgress2()"
          (ended)="onVideoEnded()"
        >
          <source src="videos/video1.mp4" type="video/mp4"  />
          Tu navegador no soporta la etiqueta de video.
        </video>
      </div>

      <!-- <div style="position: absolute; left: -700px; top: 920px; width: 1920px;">
        <progress
          [value]="currentTime2"
          [max]="duration2"
          style="width: 1500px; height: 20px; position: absolute; top: 40px; left: 200px;"
        ></progress>
      </div> -->



    </div>
  </div>
</div>


<!-- Segundo Modal de video -->


<!-- Segundo modal -->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModal2Label"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  style="background-color: black"
>
  <div class="modal-dialog modal-fullscreen-sm-down">
    <div class="modal-content" style="background: none; border: none">
      <div class="modal-header" style="text-align: center; border-bottom: none">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="onVideoEnded2()"
          
          style="color: red; font-size: 40px; background-color: white;position: absolute;right: -650px;"
        ></button>
      </div>
    
      <div class="modal-body" style="text-align: center">
        <video style="position: absolute; left: -700px;"
          #videoPlayer2
          width="1920px"
          height="900px"
          controls
          (timeupdate)="updateProgress()"
          (ended)="onVideoEnded2()"
        >
          <source src="videos/video2.mp4" type="video/mp4" />
        </video>
      </div>

      <!-- <div style="position: absolute; left: -700px; top: 920px; width: 1920px;">
        <progress
          [value]="currentTime"
          [max]="duration"
          style="width: 1500px; height: 20px; position: absolute; top: 40px; left: 200px;"
        ></progress>
      </div> -->



    </div>
  </div>
</div>
<!-- Segundo Modal de video -->

<!-- Modal catalogo -->


<div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel10" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content" style="background: none; border: none">
      <div class="modal-header" style="text-align: center; border-bottom: none">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          style="background-color: white;"></button>
      </div>
      <div class="modal-body">
        <iframe src="books/bienalcatalogo/index.html" style="width: 100%; height: 90%; border: none;"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel11" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content" style="background: none; border: none">
      <div class="modal-header" style="text-align: center; border-bottom: none">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          style="background-color: white;"></button>
      </div>
      <div class="modal-body">
        <iframe src="books/visitas/index.html" style="width: 100%; height: 90%; border: none;"></iframe>
      </div>
    </div>
  </div>
</div>