<swiper-container
  style="
    --swiper-navigation-color: white;
    --swiper-pagination-color: white;
    --swiper-navigation-size: 60px;
    --swiper-pagination-bullet-size: 20px;
  "
  class="mySwiper"
  speed="600"
  parallax="true"
  pagination="true"
  pagination-clickable="true"
  navigation="true"
>
  <div
    slot="container-start"
    class="parallax-bg"
    style="
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./images/bg_Home2.png);
    "
    data-swiper-parallax="-23%"
  ></div>

  <swiper-slide>
    <div class="title" data-swiper-parallax="-300" style="font-weight: 800">
      <br /><br /><br /><br /><br /><br />La Bienal de Arte de Venecia
    </div>
    <div class="subtitle" data-swiper-parallax="-200" style="font-weight: 700">
      Participaciones
    </div>
    <div class="text" data-swiper-parallax="-100">
      <p style="text-align: justify; font-size: 18px; font-weight: 400; font-style: italic;">
        La participación de Panamá en la 60ª Bienal de Arte de Venecia marca un
        hito histórico para el país. Bajo el título "Surcos: En el cuerpo y en
        la tierra", el pabellón panameño presentó una exposición que abordó la
        migración como uno de los desafíos humanitarios más urgentes de nuestra
        era. Las obras de los artistas Brooke Alfaro, Isabel De Obaldía, Giana
        De Dier y Cisco Merel ofrecieron una narrativa colectiva que conectó al
        público con historias de resiliencia, vulnerabilidad y esperanza. El
        pabellón captó la atención de más de 45,000 visitantes y fue destacado
        por críticos internacionales y medios especializados como The Art
        Newspaper, Le Monde y Artforum. La muestra fue elogiada por su poderosa
        exploración de la migración y su capacidad para generar una experiencia
        inmersiva que resonó profundamente con los asistentes. Esta primera
        participación de Panamá en la Bienal de Venecia no solo posiciona al
        país en el panorama artístico global, sino que también demuestra la
        capacidad de sus artistas para abordar temas de relevancia universal a
        través del arte.
      </p>
      <button
        type="button"
        class="btn btn-success"
        style="
          width: 400px;
          font-size: 40px;
          font-weight: 700;
          border: 1px solid transparent;
          font-weight: 700;
          border-radius: 2em;
          box-shadow: 0 0 10px 5px black;
          background-color: #ff5a5a;
        "
        routerLink="./mapa"
      >
        Ver en el mapa <i class="fa-regular fa-map"></i>
      </button>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="title" data-swiper-parallax="-300" style="font-weight: 800">
      <br /><br /><br /><br /><br /><br />Los que pasan
    </div>
    <div class="subtitle" data-swiper-parallax="-200" style="font-weight: 700">
      El arte como herramienta de esperanza
    </div>
    <div class="text" data-swiper-parallax="-100">
      <p style="text-align: justify; font-size: 18px; font-weight: 400; font-style: italic;">
        El Pabellón Nacional de Panamá emerge como un eco profundo de las
        huellas perdurables que la migración deja en las personas y en su
        entorno. Bajo el título de “Surcos: En el cuerpo y en la tierra”, esta
        exposición refleja la crisis migratoria actual, con un enfoque
        particular en el contexto de Panamá. Por su posición geográfica que
        ofrece un puente entre continentes y un paso expedito entre dos océanos,
        Panamá siempre ha sido un lugar de tránsito, comercio y contacto
        cultural. Es un país moldeado por la llegada y el paso de personas desde
        la época precolombina, durante el periodo colonial y debido a la
        construcción y administración de su famoso canal interoceánico.
      </p>
      <button
        type="button"
        class="btn btn-success"
        style="
          width: 400px;
          font-size: 40px;
          font-weight: 700;
          border: 1px solid transparent;
          font-weight: 700;
          border-radius: 2em;
          box-shadow: 0 0 10px 5px black;
          background-color: #ff5a5a;
        "
        routerLink="/ong"
      >
        Conocer más <i class="fa-solid fa-shoe-prints"></i>
      </button>
    </div>

    <div class="parent">
      <div class="div1">
        <img
          src="/images/pasan/001.png"
          style="height: 250px; width: 250px"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        />
      </div>
      <div class="div1">
        <img src="/images/pasan/002.png" style="height: 250px; width: 250px" />
      </div>
      <div class="div1">
        <img src="/images/pasan/003.png" style="height: 250px; width: 250px" />
      </div>

      <div class="div1">
        <img src="/images/pasan/004.png" style="height: 250px; width: 250px" />
      </div>
      <div class="div1">
        <img src="/images/pasan/005.png" style="height: 250px; width: 250px" />
      </div>
      <div class="div1">
        <img src="/images/pasan/006.png" style="height: 250px; width: 250px" />
      </div>

      <div class="div1">
        <img src="/images/pasan/007.png" style="height: 250px; width: 250px" />
      </div>
      <div class="div1">
        <img src="/images/pasan/008.png" style="height: 250px; width: 250px" />
      </div>
      <div class="div1">
        <img src="/images/pasan/009.png" style="height: 250px; width: 250px" />
      </div>
    </div>
  </swiper-slide>
  
  <swiper-slide>
    <div class="title" data-swiper-parallax="-300" style="font-weight: 800">
      <br /><br /><br /><br /><br /><br />Los Artistas del Pabellón de Panamá en
      Venecia
    </div>
    <div class="subtitle" data-swiper-parallax="-200" style="font-weight: 700">
      El camino del artista
    </div>
    <div class="text" data-swiper-parallax="-100">
      <p style="text-align: justify; font-size: 18px; font-weight: 400; font-style: italic;">
        El pabellón incluyó a cuatro artistas emergentes que aportaron diversas
        perspectivas sobre los retos medioambientales que enfrenta Panamá,
        particularmente en lo que respecta a la conservación de la biodiversidad
        en la región del Darién y la cuenca del Canal. Estos artistas exploraron
        la relación entre el ser humano y la naturaleza a través de medios como
        la pintura, la instalación y el arte digital. La participación de Panamá
        en la Bienal de Venecia 2024 fue una oportunidad para que estos artistas
        compartieran su visión de un país en transición, abordando temas como la
        migración, el mestizaje cultural, la historia y el cambio climático,
        mientras mantenían un enfoque crítico sobre las narrativas dominantes en
        la región.<br><br>
        <i style="font-size: 20px;">Puedes presionar las imagenes para ver su biografía <i class="fa-solid fa-hand-point-right fa-beat-fade"></i></i>
      </p>
      <!-- <button
        type="button"
        class="btn btn-success"
        style="
          width: 400px;
          font-size: 30px;
          font-weight: 700;
          border: 1px solid transparent;
          font-weight: 700;
          border-radius: 2em;
          box-shadow: 0 0 10px 5px black;
          background-color: #ff5a5a;
        "
        routerLink="./mapa"
      >
        Conoce a los artistas <i class="fa-solid fa-book-open"></i>
      </button> -->
    </div>

    <div class="parent2">
      
      <div class="div1">
        <img src="/images/Artista1.jpg" (click)="brooke()" style="height: 350px; width: 350px" />
       <p style="text-align: center; font-weight: 800;">Brooke Alfaro</p> 
      </div>
      <div class="div1">
        <img src="/images/Artista3.jpg" (click)="Cisco()" style="height: 350px; width: 350px" />
        <p style="text-align: center;font-weight: 800;">Cisco Merel</p> 
      </div>
      <div class="div1">
        <img src="/images/Artista2.jpg" (click)="Giana()" style="height: 350px; width: 350px" />
        <p style="text-align: center;font-weight: 800;">Giana De Dier</p> 
      </div>
      <div class="div1">
        <img src="/images/Artista5.jpg" (click)="Isabel()" style="height: 350px; width: 350px" />
        <p style="text-align: center;font-weight: 800;">Isabel de Obaldía</p> 
      </div>
    
     
    </div>


  </swiper-slide>

  <swiper-slide>
    <div class="title" data-swiper-parallax="-300" style="font-weight: 800">
      <br /><br /><br /><br /><br /><br />Cátalogo de la bienal
    </div>
    <div class="subtitle" data-swiper-parallax="-200" style="font-weight: 700">
      ¿Qué se muestra?
    </div>
    <div class="text" data-swiper-parallax="-100">
      <p style="text-align: justify; font-size: 18px; font-weight: 400; font-style: italic;">
        Este cátalogo presenta a los artistas Brooke Alfaro, Giana de Dier,
        Isabel de Obaldía, Cisco Merel, destacando cómo sus trabajos exploran la
        identidad, la historia y las problemáticas socioambientales que enfrenta
        Panamá. Además, se incluyen imágenes de las obras exhibidas en el
        pabellón, con textos que contextualizan las piezas dentro de la
        tradición artística de Panamá, al tiempo que conectan sus reflexiones
        con los desafíos globales contemporáneos.
      </p>
      <button
        type="button"
        class="btn btn-success"
        style="
          width: 400px;
          font-size: 40px;
          font-weight: 700;
          border: 1px solid transparent;
          font-weight: 700;
          border-radius: 2em;
          box-shadow: 0 0 10px 5px black;
          background-color: #ff5a5a;
        "
        routerLink="./mapa"
      >
        Ver el Cátalogo <i class="fa-solid fa-book-open"></i>
      </button>

      <p style="position: absolute; left: 120%; top: -100%">
        <iframe
          height="600"
          width="920"
          src="https://experienciasmuseodelcanal.org/bienalcatalogo/index.html"
        ></iframe>
      </p>

    </div>
  </swiper-slide>

</swiper-container>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center">
        <h5 class="modal-title" id="exampleModalLabel">Titulo de la imagen</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p style="text-align: center">
          <img src="/images/log/ACNUR.png" style="height: 200px" />
        </p>
      </div>
    </div>
  </div>
</div>
