<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body  style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url(images/buccaners.png);
filter: brightness(0.8);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
overflow: hidden;  
height: 1920px;  ">
    <div class="container text-center">
        <br>
        <div class="row align-items-start">
            <div class="col" id="mapa">
              <div class="card" id="btn-mapa" (click)="map()" style="display: flex; justify-content: center; align-items: center; 
              background-image: url('images/mapa.png'); 
              background-size: cover; 
              background-position: center; 
              background-repeat: no-repeat;
              "><h1 style="font-weight: 800; color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.7);">MAPA</h1></div>
            </div>
            <div class="col" id="contenido">
             
              <div class="card" id="btn-contenido"  (click)="bienal()" style="display: flex; justify-content: center; align-items: center; 
              background-image: url('images/bg_Home2.png'); 
              background-size: cover; 
              background-position: center; 
              background-repeat: no-repeat;
              "><h1 style="font-weight: 800; color: white;text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.7);">LA BIENAL </h1></div>
            </div>
            <div class="col" id="ong">
             
              <div class="card" id="btn-ong" (click)=" migracionDarien()" style="display: flex; justify-content: center; align-items: center; 
              background-image: url('images/migracion.png'); 
              background-size: cover; 
              background-position: center; 
              background-repeat: no-repeat;
              "><h1 style="font-weight: 800; color: white;text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.7);">MIGRACIÓN EN EL DARIÉN</h1></div>
            </div>
        </div>
    </div>

    <button
    type="button"
    class="btn btn-success titulo" id="btnEsp-h"
    style="
      width: 400px;
      font-size: 40px;
      font-weight: 700;
      border: 1px solid white;
      font-weight: 700;
      border-radius: 2em;
      box-shadow: 0 0 10px 5px black;
      background-color: black;
      width: 250px;
      height: 70px;
    "
    routerLink=""
  >
    ESP
  </button>
  &nbsp;
  <button
    type="button"
    class="btn btn-success titulo" id="btnEng-h"
    style="
      width: 400px;
      font-size: 40px;
      font-weight: 700;
      border: 1px solid transparent;
      font-weight: 700;
      border-radius: 2em;
      box-shadow: 0 0 10px 5px black;
      background-color: #ff5a5a;
      width: 250px;
      height: 70px;
    "
    (click)="home_eng()"
  >
    ENG 
  </button>


</body>
</html>
