<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ong</title>
  </head>
  <style>
    swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>

  <body
    style="
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(images/buccaners.png);
      filter: brightness(0.8);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      overflow: hidden;
      height: 1920px;
    "
  >
    <button
      class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg"
      style="
        border-radius: 50px;
        width: 100px;
        height: 100px;
        font-size: 40px;
        font-weight: 700;
        right: 70px;
        top: 940px;
        background-color: black;
        color: white;
        position: fixed;
        z-index: 100;
      "
      (click)="inicio_eng()"
    >
      <i class="fa-solid fa-home"></i>
    </button>

    <div class="container">
      <div class="row">
        <div class="col-6">
          <div
            class="title"
            data-swiper-parallax="-300"
            style="font-weight: 800"
            id="titulo-ong"
          >
            <br /><br /><br /><br />Migration in Darien
          </div>
          <div
            class="subtitle"
            data-swiper-parallax="-200"
            style="font-weight: 700"
            id="subtitulo-ong"
          >
            data and humanitarian responses
          </div>
          <br />
          <div class="text" data-swiper-parallax="-100" id="texto-ong">
            <p style="text-align: justify; font-size: 20px">
              The Darién jungle crossing is one of the most dangerous migration
              routes in the world. In 2023, more than 520,000 people undertook
              this journey, including more than 113,000 children.
              <br /><br />
              The lack of infrastructure, exposure to violence, and extreme
              poverty make this a high-risk journey. Organizations such as
              UNICEF, UNHCR, and other humanitarian agencies worked in the
              region to provide lifesaving assistance: access to clean water,
              medical care, psychosocial support, and protection for the most
              vulnerable populations, especially women, children, and
              adolescents. Through data collection and program implementation in
              the region, these organizations sought not only to respond to the
              immediate crisis but also to raise awareness about the factors
              driving migration and the urgent needs of those transiting through
              Darién.

              <br /><br />
              <i>Learn more about their work and how you can support them.</i>
            </p>
            <br />
          </div>
        </div>
        <div class="col-6" id="img-ong" id="img-ong-col">
          <img
            src="images/log/ACNUR.png"
            alt="Ong"
            id="img-ong-1"
            (click)="ACNUR()"
          />&nbsp;&nbsp;&nbsp;
          <img
            src="images/log/OIM.png"
            alt="Ong"
            id="img-ong-2"
            (click)="OIM()"
          />
          <img
            src="images/log/UNFPA.png"
            alt="Ong"
            id="img-ong-3"
            (click)="UNFPA()"
          />&nbsp;&nbsp;&nbsp;
          <img
            src="images/log/UNICEF.png"
            alt="Ong"
            id="img-ong-4"
            (click)="UNICEF()"
          />
          <img
            src="images/log/CRUZ.png"
            alt="Ong"
            id="img-ong-5"
            (click)="CRUZ()"
          />
          <img
            src="images/log/ONU.png"
            alt="Ong"
            id="img-ong-6"
            (click)="ONUMUJERES()"
          />
        </div>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#element1"
      hidden="true"
      id="btn-acnur"
    >
      Launch demo modal
    </button>

    <!-- The Modal -->
    <div class="modal" id="element1">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <!-- Modal Header -->

          <!-- Modal body -->
          <div class="modal-body" style="background-color: black">
            <div (click)="ACNURClose()">
              <button
                type="button"
                id="element1Close"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                style="
                  color: black;
                  font-size: 40px;
                  background-color: white;
                  position: absolute;
                  right: 0px;
                "
              ></button>
            </div>
            <div>
              <div class="container">
                <h1 id="p-uhcr-title" style="color: white">ACNUR</h1>
                <div class="row">
                  <div
                    class="col-6"
                    style="text-align: justify; color: white"
                    id="p-uhcr"
                  >
                    In Darién, UNHCR supports the Government of Panama’s
                    response at the Temporary Reception Stations (ETRMs) and in
                    host communities by providing safe spaces and protection
                    from harsh weather conditions, as well as access to basic
                    health and mental health services. UNHCR also provides
                    information about the risks of the journey
                    <br /><br />
                    UNHCR offers legal support to individuals with international
                    protection needs, referring those who require specialized
                    assistance to the appropriate institutions. It also provides
                    information about the asylum system in Panama and assists
                    those in need with their refugee status applications.
                    Additionally, UNHCR supports Indigenous communities in
                    Darién by facilitating workshops and programs aimed at
                    strengthening and promoting social cohesion and peaceful
                    coexistence.
                  </div>
                  <div class="col-6">
                    <video
                      id="videoAcnur"
                      width="800px"
                      height="800px"
                      autoplay
                      muted="false"
                      loop="true"
                    ></video>
                  </div>

                  <swiper-container
                    class="mySwiper"
                    pagination="true"
                    pagination-clickable="true"
                    space-between="30"
                    slides-per-view="3"
                    style="
                      top: -120px;
                      left: 69px;
                      --swiper-navigation-color: white;
                      --swiper-pagination-color: white;
                      --swiper-navigation-size: 60px;
                      --swiper-pagination-bullet-size: 20px;
                      --swiper-pagination-bullet-opacity: 5; /* Ajusta la opacidad (0 = transparente, 1 = sólido) */

                      --swiper-pagination-bullet-inactive-opacity: 1;
                      --swiper-pagination-bullet-inactive-color: #ff5a5a;
                      --background-color: red;
                    "
                    navigation="true"
                  >
                    <swiper-slide
                      ><img src="images/unhcr/u1.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unhcr/u2.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unhcr/u3.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unhcr/u4.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unhcr/u5.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unhcr/u6.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unhcr/u7.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unhcr/u8.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unhcr/u9.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unhcr/u10.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unhcr/u11.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unhcr/u17.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unhcr/u13.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unhcr/u14.jpg" alt=""
                    /></swiper-slide>
                  </swiper-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#element2"
      hidden="true"
      id="btn-unfpa"
    >
      Launch demo modal
    </button>

    <!-- The Modal -->
    <div class="modal" id="element2">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <!-- Modal Header -->

          <!-- Modal body -->
          <div class="modal-body" style="background-color: black">
            <div (click)="UNFPAClose()">
              <button
                type="button"
                id="element2Close"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                style="
                  color: black;
                  font-size: 40px;
                  background-color: white;
                  position: absolute;
                  right: 0px;
                "
              ></button>
            </div>
            <div>
              <div class="container">
                <h1 id="p-uhcr-title" style="color: white">UNFPA</h1>
                <div class="row">
                  <div
                    class="col-6"
                    style="text-align: justify; color: white"
                    id="p-uhcr"
                  >
                    The United Nations Population Fund (UNFPA) in Panama
                    addresses the humanitarian crisis in Darién through a
                    comprehensive approach that includes human development,
                    humanitarian action, and peacebuilding, with a focus on
                    sexual and reproductive health and the prevention of
                    gender-based violence. Through this approach, more than
                    26,000 women received reproductive health services, and over
                    33,000 benefited from information on gender-based violence
                    prevention.<br /><br />
                    In addition, in collaboration with the Ministry of Health,
                    UNFPA inaugurated the Metetí Maternity Home to improve
                    maternal health services and reduce mortality. It also
                    established the first Comprehensive Care Center for
                    survivors of violence in Metetí. Between 2023 and 2024, the
                    project operated with a budget of 568,000 USD and benefited
                    more than 59,000 women and girls, significantly contributing
                    to saving lives.
                  </div>
                  <div class="col-6">
                    <video
                      id="videoUNFPA"
                      width="800px"
                      height="800px"
                      autoplay
                      muted="false"
                      loop="true"
                    ></video>
                  </div>

                  <swiper-container
                    class="mySwiper"
                    pagination="true"
                    pagination-clickable="true"
                    space-between="30"
                    slides-per-view="3"
                    style="
                      top: -120px;
                      left: 69px;
                      --swiper-navigation-color: white;
                      --swiper-pagination-color: white;
                      --swiper-navigation-size: 60px;
                      --swiper-pagination-bullet-size: 20px;
                      --swiper-pagination-bullet-opacity: 5; /* Ajusta la opacidad (0 = transparente, 1 = sólido) */

                      --swiper-pagination-bullet-inactive-opacity: 1;
                      --swiper-pagination-bullet-inactive-color: #ff5a5a;
                      --background-color: red;
                    "
                    navigation="true"
                  >
                    <swiper-slide
                      ><img src="images/unfpa/unfpa1.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unfpa/unfpa2.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unfpa/unfpa3.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unfpa/unfpa1.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unfpa/unfpa2.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unfpa/unfpa3.jpg" alt=""
                    /></swiper-slide>
                  </swiper-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#element3"
      hidden="true"
      id="btn-oim"
    >
      Launch demo modal
    </button>

    <!-- The Modal -->
    <div class="modal" id="element3">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <!-- Modal Header -->

          <!-- Modal body -->
          <div class="modal-body" style="background-color: black">
            <div (click)="OIMClose()">
              <button
                type="button"
                id="element3Close"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                style="
                  color: black;
                  font-size: 40px;
                  background-color: white;
                  position: absolute;
                  right: 0px;
                "
              ></button>
            </div>
            <div>
              <div class="container">
                <h1 id="p-uhcr-title" style="color: white">OIM</h1>
                <div class="row">
                  <div
                    class="col-6"
                    style="text-align: justify; color: white"
                    id="p-uhcr"
                  >
                    The International Organization for Migration (IOM), in
                    coordination with United Nations system partners and civil
                    society, contributes to the efforts of the Panamanian
                    government in responding to mixed movements entering through
                    the Darién jungle. IOM provides life-saving humanitarian
                    assistance to vulnerable migrants in transit through the
                    distribution of food and essential non-food items (NFIs),
                    the provision of health services—including psychosocial and
                    mental health support—and the delivery of medicines and
                    medical supplies, as well as protection services.<br /><br />
                    IOM also supports the improvement and rehabilitation of
                    Temporary Reception Stations (ETRMs), facilitates
                    capacity-building activities in Camp Coordination and Camp
                    Management (CCCM), and co-leads and supports interagency and
                    interinstitutional coordination mechanisms on migration at
                    various levels.
                  </div>
                  <div class="col-6">
                    <video
                      id="videoOIM"
                      width="800px"
                      height="800px"
                      autoplay
                      muted="false"
                      loop="true"
                    ></video>
                  </div>

                  <swiper-container
                    class="mySwiper"
                    pagination="true"
                    pagination-clickable="true"
                    space-between="30"
                    slides-per-view="3"
                    style="
                      top: -120px;
                      left: 69px;
                      --swiper-navigation-color: white;
                      --swiper-pagination-color: white;
                      --swiper-navigation-size: 60px;
                      --swiper-pagination-bullet-size: 20px;
                      --swiper-pagination-bullet-opacity: 5; /* Ajusta la opacidad (0 = transparente, 1 = sólido) */

                      --swiper-pagination-bullet-inactive-opacity: 1;
                      --swiper-pagination-bullet-inactive-color: #ff5a5a;
                      --background-color: red;
                    "
                    navigation="true"
                  >
                    <swiper-slide
                      ><img src="images/oim/oim1.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/oim/oim2.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/oim/oim3.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/oim/oim4.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/oim/oim1.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/oim/oim2.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/oim/oim3.jpg" alt=""
                    /></swiper-slide>
                  </swiper-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#element4"
      hidden="true"
      id="btn-unicef"
    >
      Launch demo modal
    </button>

    <!-- The Modal -->
    <div class="modal" id="element4">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <!-- Modal Header -->

          <!-- Modal body -->
          <div class="modal-body" style="background-color: black">
            <div (click)="UNICEFClose()">
              <button
                type="button"
                id="element4Close"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                style="
                  color: black;
                  font-size: 40px;
                  background-color: white;
                  position: absolute;
                  right: 0px;
                "
              ></button>
            </div>
            <div>
              <div class="container">
                <h1 id="p-uhcr-title" style="color: white">UNICEF</h1>
                <div class="row">
                  <div
                    class="col-6"
                    style="text-align: justify; color: white; font-size: 18px"
                    id="p-uhcr"
                  >
                    UNICEF works in some of the world’s most challenging places
                    to reach the most disadvantaged children and protect the
                    rights of every child, everywhere. In over 190 countries and
                    territories, we do whatever it takes to help every child
                    survive, thrive, and fulfill their potential—from early
                    childhood through adolescence. UNICEF is on the ground
                    before, during, and after humanitarian emergencies, bringing
                    hope and life-saving assistance to children and their
                    families.
                    <br /><br />
                    In Panama, we have been present since 1991 with our own
                    office, and over more than three decades of work for
                    children in the country, we have contributed to building
                    water and sanitation systems in rural communities; supported
                    the enactment of legislation that protects children from
                    abuse, harassment, child labor, trafficking, and sexual
                    exploitation; provided technical assistance to strengthen
                    institutions such as MIDES, SENNIAF, MINSA, and MEDUCA; and
                    developed awareness campaigns to prevent child abuse and
                    promote nurturing parenting, among other key initiatives. We
                    are apolitical and impartial—we are never neutral when it
                    comes to defending children’s rights and safeguarding their
                    lives and futures.
                  </div>
                  <div class="col-6">
                    <video
                      id="videoUnicef"
                      width="800px"
                      height="800px"
                      autoplay
                      muted="false"
                      loop="true"
                    ></video>
                  </div>

                  <swiper-container
                    class="mySwiper"
                    pagination="true"
                    pagination-clickable="true"
                    space-between="30"
                    slides-per-view="3"
                    style="
                      top: -120px;
                      left: 69px;
                      --swiper-navigation-color: white;
                      --swiper-pagination-color: white;
                      --swiper-navigation-size: 60px;
                      --swiper-pagination-bullet-size: 20px;
                      --swiper-pagination-bullet-opacity: 5; /* Ajusta la opacidad (0 = transparente, 1 = sólido) */

                      --swiper-pagination-bullet-inactive-opacity: 1;
                      --swiper-pagination-bullet-inactive-color: #ff5a5a;
                      --background-color: red;
                    "
                    navigation="true"
                  >
                    <swiper-slide
                      ><img src="images/unicef/unicef1.webp" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unicef/unicef2.webp" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unicef/unicef3.webp" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unicef/unicef1.webp" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unicef/unicef2.webp" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/unicef/unicef3.webp" alt=""
                    /></swiper-slide>
                  </swiper-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#element5"
      hidden="true"
      id="btn-onuMujeres"
    >
      Launch demo modal
    </button>

    <!-- The Modal -->
    <div class="modal" id="element5">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <!-- Modal Header -->

          <!-- Modal body -->
          <div class="modal-body" style="background-color: black">
            <div (click)="ONUMUJERESClose()">
              <button
                type="button"
                id="element5Close"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                style="
                  color: black;
                  font-size: 40px;
                  background-color: white;
                  position: absolute;
                  right: 0px;
                "
              ></button>
            </div>
            <div>
              <div class="container">
                <h1 id="p-uhcr-title" style="color: white">ONU MUJERES</h1>
                <div class="row">
                  <div
                    class="col-6"
                    style="text-align: justify; color: white; font-size: 16px"
                    id="p-uhcr"
                  >
                    UN Women’s Trayectos project focuses on empowering women
                    affected by the human mobility crisis in Central America,
                    where an unprecedented flow of people is driven by conflict,
                    climate change, and other factors. Over the past fifteen
                    years, the number of people on the move has doubled, with
                    48.7% being women and girls, who face risks such as
                    gender-based violence, discrimination, and human
                    trafficking. With support from the Government of Japan, the
                    project is being implemented in Costa Rica, Honduras, and
                    Panama between March 2024 and February 2025. One of the main
                    challenges is the violence women face along their journey,
                    including systemic sexual violence and extortion. The goal
                    is for these women to participate in social cohesion
                    initiatives and benefit from gender protection services.
                    Through the program, UN Women works to strengthen women’s
                    leadership and ensure equal access in this context of mixed
                    migration, aligning with global commitments such as the
                    Women, Peace and Security agenda. The project is expected to
                    enhance the capacity of humanitarian actors to provide
                    gender protection services, increase access to such services
                    for women, girls, and LGBTIQ+ individuals, and strengthen
                    partnerships with women’s groups and United Nations
                    agencies. UN Women is committed to protecting and empowering
                    women and girls in situations of humanitarian crisis and
                    human mobility, ensuring responses that address their
                    specific needs while promoting their leadership and access
                    to comprehensive protection services.
                  </div>
                  <div class="col-6">
                    <video
                      id="videoOnuMujeres"
                      width="800px"
                      height="800px"
                      autoplay
                      muted="false"
                      loop="true"
                    ></video>
                  </div>

                  <swiper-container
                    class="mySwiper"
                    pagination="true"
                    pagination-clickable="true"
                    space-between="30"
                    slides-per-view="3"
                    style="
                      top: -120px;
                      left: 69px;
                      --swiper-navigation-color: white;
                      --swiper-pagination-color: white;
                      --swiper-navigation-size: 60px;
                      --swiper-pagination-bullet-size: 20px;
                      --swiper-pagination-bullet-opacity: 5; /* Ajusta la opacidad (0 = transparente, 1 = sólido) */

                      --swiper-pagination-bullet-inactive-opacity: 1;
                      --swiper-pagination-bullet-inactive-color: #ff5a5a;
                      --background-color: red;
                    "
                    navigation="true"
                  >
                    <swiper-slide
                      ><img src="images/onu/o1.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/onu/o2.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/onu/o3.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/onu/o1.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/onu/o2.jpg" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/onu/o3.jpg" alt=""
                    /></swiper-slide>
                  </swiper-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#element8"
      hidden="true"
      id="btn-onucruzroja"
    >
      Launch demo modal
    </button>

    <!-- The Modal -->
    <div class="modal" id="element8">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <!-- Modal Header -->

          <!-- Modal body -->
          <div class="modal-body" style="background-color: black">
            <div (click)="CRUZClose()">
              <button
                type="button"
                id="element8Close"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                style="
                  color: black;
                  font-size: 40px;
                  background-color: white;
                  position: absolute;
                  right: 0px;
                "
              ></button>
            </div>
            <div>
              <div class="container">
                <h1 id="p-uhcr-title" style="color: white">
                  CRUZ ROJA PANAMEÑA
                </h1>
                <div class="row">
                  <div
                    class="col-6"
                    style="text-align: justify; color: white"
                    id="p-uhcr"
                  >
                    The Panamanian Red Cross, founded in 1917, is a humanitarian
                    organization that serves as an auxiliary to public
                    institutions, with over a century of service to the country.
                    It is part of the International Red Cross and Red Crescent
                    Movement, and its work is grounded in alleviating human
                    suffering and saving lives.<br /><br />
                    Throughout its history, it has provided aid during
                    emergencies, crises, and disasters, as well as assistance to
                    vulnerable communities and support for migrants after their
                    journey through the Darién jungle, offering humanitarian
                    services without distinction of race, religion, social
                    status, or ideology. Its emblem represents help, protection,
                    and solidarity in the most difficult times.
                  </div>
                  <div class="col-6">
                    <video
                      id="videoCruzRoja"
                      width="800px"
                      height="800px"
                      autoplay
                      muted="false"
                      loop="true"
                    ></video>
                  </div>

                  <swiper-container
                    class="mySwiper"
                    pagination="true"
                    pagination-clickable="true"
                    space-between="30"
                    slides-per-view="3"
                    style="
                      top: -120px;
                      left: 69px;
                      --swiper-navigation-color: white;
                      --swiper-pagination-color: white;
                      --swiper-navigation-size: 60px;
                      --swiper-pagination-bullet-size: 20px;
                      --swiper-pagination-bullet-opacity: 5; /* Ajusta la opacidad (0 = transparente, 1 = sólido) */

                      --swiper-pagination-bullet-inactive-opacity: 1;
                      --swiper-pagination-bullet-inactive-color: #ff5a5a;
                      --background-color: red;
                    "
                    navigation="true"
                  >
                    <swiper-slide
                      ><img src="images/cruz/c2.webp" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/cruz/c5.webp" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/cruz/c3.webp" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/cruz/c4.webp" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/cruz/c6.webp" alt=""
                    /></swiper-slide>
                    <swiper-slide
                      ><img src="images/cruz/c2.webp" alt=""
                    /></swiper-slide>
                  </swiper-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
