@font-face {
    font-family: 'Helvetica';
    src: url('../../../assets/fonts/Helvetica/HelveticaNeueBlack.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Helvetica2';
    src: url('../../../assets/fonts/Helvetica/HelveticaNeueLight.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Helvetica3';
    src: url('../../../assets/fonts/Helvetica/HelveticaNeueHeavy.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Helvetica4';
    src: url('../../../assets/fonts/Helvetica/HelveticaNeueItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


#mapa {
   /*border: 5px solid #000;*/
   border-radius: 10px;
   height: 850px;
   margin-top: 80px;
   width: 5%;
  
}

#contenido {
  /*border: 5px solid #000;*/
   border-radius: 10px;
   height: 850px;
   margin-top: 80px;
   width: 5%;
}

#ong {
  /* border: 5px solid #000;*/
   border-radius: 10px;
   height: 950px;
   margin-top: 80px;
   width: 5%;
}

#contenido-h{
    color: #fff;
    font-family: "Helvetica";
}

#mapa-h{
    color: #fff;
    font-family: "Helvetica";
}

#ong-h{
    color: #fff;
    font-family: "Helvetica";
}




#btn-mapa{
    position: relative;
    top: 400px;
    border: 0px solid transparent;
    font-weight: 900;
    
    box-shadow: 0 0 10px 5px black;
    background-color: transparent;
    height: 600px;
    width: 400px;
    left: 420px;
    top: 100px;
}

#btn-contenido{
    position: relative;
    top: 100px;

    border: 0px solid transparent;
    font-weight: 900;
   
    box-shadow: 0 0 10px 5px black;
    
    height: 600px;
    width: 400px;
    left: -607px;

}

#btn-ong{
    position: relative;
    top: 100px;
    border: 0px solid transparent;
    font-weight: 700;
    
    box-shadow: 0 0 10px 5px black;
    background-color: transparent;
    height: 600px;
    width: 400px;
    left: 150px;
}

#btnEsp-h{
position: relative;
top: -43px;
left: 0px;
right: 0px;
left: 1380px;
}


#btnEng-h{
position: relative;
top: -43px;
left: 0px;
right: 0px;
left: 1380px;
}



