/* You can add global styles to this file, and also import other style files */


body{
    background-image: url('assets/Home/bg_Home2.png');
    background-size: cover;
    background-repeat: repeat;
    overflow: hidden;
    
  }


  .leaflet-control-attribution a{
    display: none !important;
}

.leaflet-right .leaflet-control {
    display: none !important;
}



/* .leaflet-container {
  cursor: default !important;
}

.leaflet-marker-icon {
  cursor: default !important;
}

.leaflet-control {
  cursor: default !important;
}
 */



 
 /* .leaflet-popup-content-wrapper {
  padding: 0.5px !important;
  text-align: left ;
  border-radius: 12px;
} */


.swal2-popup {
  width: 1280px !important;
  height: 720px !important;
  max-width: none !important; /* Elimina cualquier restricción de tamaño */
}

/* Puedes personalizar más elementos dentro del popup, como el título, el contenido, etc. */
.swal2-title {
  font-size: 30px; /* Ajusta el tamaño del título si lo deseas */
}

.swal2-content {
  font-size: 25px; /* Ajusta el tamaño del contenido */
  text-align: justify;
  
}

.swal2-image {
  width: 200px; /* Tamaño personalizado de la imagen */
  height: 200px;
}


     

