/* You can add global styles to this file, and also import other style files */


body{
    background-image: url('assets/Home/bg_Home2.png');
    background-size: cover;
    background-repeat: repeat;
    overflow: hidden;
    
  }


  .leaflet-control-attribution a{
    display: none !important;
}

.leaflet-right .leaflet-control {
    display: none !important;
}



/* .leaflet-container {
  cursor: default !important;
}

.leaflet-marker-icon {
  cursor: default !important;
}

.leaflet-control {
  cursor: default !important;
}
 */



 
 /* .leaflet-popup-content-wrapper {
  padding: 0.5px !important;
  text-align: left ;
  border-radius: 12px;
} */





     

