/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Helvetica2';
  src: url('assets/fonts/Helvetica/HelveticaNeueLight.otf') format('truetype');
}

body{
    background-image: url('assets/Home/bg_Home2.png');
    background-size: cover;
    background-repeat: repeat;
    overflow: hidden;
    user-select: none; /* Deshabilita la selección de texto en toda la página */
  }

  
  .leaflet-control-attribution a{
    display: none !important;
}

.leaflet-right .leaflet-control {
    display: none !important;
}

.swal2-popup {
  width: 1280px !important;
  height: 720px !important;
  max-width: none !important; /* Elimina cualquier restricción de tamaño */
}

/* Puedes personalizar más elementos dentro del popup, como el título, el contenido, etc. */
.swal2-title {
  font-size: 30px; /* Ajusta el tamaño del título si lo deseas */
}

.swal2-content {
  font-size: 25px; /* Ajusta el tamaño del contenido */
  text-align: justify;
  
}

.swal2-image {
  width: 200px; /* Tamaño personalizado de la imagen */
  height: 200px;
}

.custom-title {
  font-family: 'Helvetica2';/* Cambia esta fuente a la que prefieras */
  font-size: 24px; /* Ajusta el tamaño de la fuente */
  color: white;
}

.custom-popup {
  font-family:'Helvetica2'; /* Cambia esta fuente a la que prefieras */
  font-size: 18px; /* Ajusta el tamaño de la fuente */
  color: white;
  font-weight: 700;
 
}

.custom-image {
  border-radius: 50%;
}


.custom-confirm-btn {
  position: absolute;   /* Posiciona el botón de manera absoluta */
  top: 20px;            /* Ajusta la distancia desde la parte superior */
  right: 20px;          /* Ajusta la distancia desde la parte derecha */
  background-color: transparent;  /* Fondo transparente */
  border: none;         /* Sin borde */
  padding: 10px 15px;    /* Espaciado dentro del botón */
  color: #ff5a5a         /* Color del texto/icono */
}

.custom-confirm-btn i {
  font-size: 40px;      /* Tamaño del icono */
  color: #ff5a5a;         /* Color del icono */
}

.modal-backdrop {
  display: none !important; /* Oculta el fondo borroso */
}
